<body style="background-color: {{backgroundColor}}; color: {{textColor}}; font-family: {{fontFamily}};">

  <!-- Header -->
  <header style="font-family: {{fontFamily}};">
        <h1 style="color: {{h1Color}}; font-size: {{h1Size}};">{{siteTitle}}</h1>
        {{#if slogan}}
          <p style="color: {{textColor}}; font-size: {{h2Size}};" id="slogan">{{slogan}}</p>
        {{/if}}
    </header>

  <!-- Menu Section -->
  {{#if menuSections}}
  <section class="menu">
    <h2 style="color: {{h2Color}}; font-size: {{h2Size}};">Nuestro Menú</h2>
    <ul>
      {{#each menuSections}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </section>
  {{/if}}

  <!-- Footer -->
  <footer style="background-color: {{secondaryColor}}; color: {{textColor}};">
    <p>Síguenos en:</p>
    <ul>
      {{#if facebook}}<li><a href="{{facebook}}" target="_blank">Facebook</a></li>{{/if}}
      {{#if twitter}}<li><a href="{{twitter}}" target="_blank">Twitter</a></li>{{/if}}
      {{#if instagram}}<li><a href="{{instagram}}" target="_blank">Instagram</a></li>{{/if}}
    </ul>
    <p>&copy; {{year}} {{author}}</p>
  </footer>
</body>
