<div class="template-restaurant" style="--primary-color: {{primaryColor}}; background-color: {{backgroundColor}};">
  <header style="color: {{textColor}}; font-family: {{fontFamily}}">
    <h1 style="color: {{h1Color}}; font-size: {{h1Size}};">{{siteTitle}}</h1>
    {{#if slogan}}
      <p style="color: {{h2Color}}; font-size: {{h2Size}};">{{slogan}}</p>
    {{/if}}
  </header>
  
  {{#if menuSections}}
  <section class="menu">
    <h2 style="color: {{h2Color}}; font-size: {{h2Size}};">Nuestro Menú</h2>
    <ul>
      {{#each menuSections}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </section>
  {{/if}}

  <footer>
    <p>Síguenos en:</p>
    <ul>
      {{#if facebook}}<li><a href="{{facebook}}" target="_blank">Facebook</a></li>{{/if}}
      {{#if twitter}}<li><a href="{{twitter}}" target="_blank">Twitter</a></li>{{/if}}
      {{#if instagram}}<li><a href="{{instagram}}" target="_blank">Instagram</a></li>{{/if}}
    </ul>
  </footer>
</div>